*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    border:2px solid black;
  margin:100px;
    border-radius: 10px;
    width:600px;
    height: 650px;
    justify-content: center;
    align-items: center;
    position:absolute;
    right:400px;

}


.container{
    
    width:500px;
    margin:0 auto;
    background-color: gray;
    border-radius:10px;
}
.applybox{
    width:400px; 
   
    background-color: white;
    height:50px;
    padding-left:10px;
    padding-top: 10px;
     margin-top:50px;
     margin-left:0px;
    border-radius:10px;
    border:2px solid black;
}
body{
    background-color: gray;
}
span{
    font-size:25px;
}
.form_container {
    display: inline-flex;
    border-radius: 10px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}
.form{
display:inline-flex;
flex-direction: column;
color: black;
font-weight:bolder;
margin:20px;
border-radius: 25%;

}


label{
    font-size:20px;
    margin-bottom:5px;
}
input,select,textarea {
    padding:6px 10px;
    border:1px solid black;
    border-radius:10px;
}
input:focus{
    outline-color:red;
}
.button_container{
    display:flex;
     justify-content: flex-end;
     margin-top:20px;
     border-radius:10px;
     
}
button{
    background-color: red;
    border:transparent solid black;
    padding: 10px;
    color:white;
    border-radius: 10px;
    transition: 0.3s ease-in;
}
button.hover{
    background-color: white;
    border: 2px solid blue;
    transition:0.3s ease-out ;
    color:black;
    cursor:pointer;
}
textarea{
    grid-column: 1/span 2;
}
.
    


